# --------------------
# Environment secrets
# --------------------
.env

# --------------------
# Python
# --------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# --------------------
# Virtual environment
# --------------------
venv/
env/
myenv/

# --------------------
# Database
# --------------------
db.sqlite3

# --------------------
# Static files
# --------------------
staticfiles/

# --------------------
# OS / Editor
# --------------------
.DS_Store
.vscode/
.idea/
media/

